@using StroopTest.Extensions;

@model ResultsSetModel

<table class="table-condensed">
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Hex</td>
            <td>Response</td>
            <td>Time</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.Results)
        {
            var responseIsCorrect = @result.ResponseIsCorrect ? "#008000" : "#ff0000";

            <tr>
                <td class="col-md-1">@result.StepNumber</td>
                <td style="color: #fff; background-color: @result.Colors.ColorAsWord.ToHex();">@result.Colors.ColorAsWord.Name</td>
                <td style="color: #fff; background-color: @result.Colors.ColorAsHex;">@result.Colors.ColorAsHex</td>
                <td style="color: #fff; background-color: @responseIsCorrect;"><strong>@result.SameColor</strong></td>
                <td>@result.TimeInSeconds s</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <div><strong>Wrong answers: @Model.WrongAnswers</strong></div>
    <div><strong>Total Time (seconds): @Model.TotalTime</strong></div>
    <div><strong>Avg Time (seconds): @Model.AverageTime</strong></div>
</div>

